<a href="https://colab.research.google.com/github/big-mac-overflow/mit-ocw/blob/main/ML_Expt_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import pandas as pd
import numpy as np

# Data frame is a tabular data structure provided by pandas to import our custom file format, df is general terminology for dataframe

df= pd.read_csv('/content/indian_food.csv')
print(df)

               name                                        ingredients  \
0        Balu shahi                    Maida flour, yogurt, oil, sugar
1            Boondi                            Gram flour, ghee, sugar
2    Gajar ka halwa       Carrots, milk, sugar, ghee, cashews, raisins
3            Ghevar  Flour, ghee, kewra, milk, clarified butter, su...
4       Gulab jamun  Milk powder, plain flour, baking powder, ghee,...
..              ...                                                ...
250       Til Pitha            Glutinous rice, black sesame seeds, gur
251         Bebinca  Coconut milk, egg yolks, clarified butter, all...
252          Shufta  Cottage cheese, dry dates, dried rose petals, ...
253       Mawa Bati  Milk powder, dry fruits, arrowroot powder, all...
254          Pinaca  Brown rice, fennel seeds, grated coconut, blac...

           diet  prep_time  cook_time flavor_profile   course  \
0    vegetarian         45         25          sweet  dessert
1    vegetarian         80         30          sweet  dessert
2    vegetarian         15         60          sweet  dessert
3    vegetarian         15         30          sweet  dessert
4    vegetarian         15         40          sweet  dessert
..          ...        ...        ...            ...      ...
250  vegetarian          5         30          sweet  dessert
251  vegetarian         20         60          sweet  dessert
252  vegetarian         -1         -1          sweet  dessert
253  vegetarian         20         45          sweet  dessert
254  vegetarian         -1         -1          sweet  dessert

               state      region
0        West Bengal        East
1          Rajasthan        West
2             Punjab       North
3          Rajasthan        West
4        West Bengal        East
..               ...         ...
250            Assam  North East
251              Goa        West
252  Jammu & Kashmir       North
253   Madhya Pradesh     Central
254              Goa        West

[255 rows x 9 columns]

In [12]:
df.head(5)  # displays first 5 rows

,name,ingredients,diet,prep_time,cook_time,flavor_profile,course,state,region
0,Balu shahi,"Maida flour, yogurt, oil, sugar",vegetarian,45,25,sweet,dessert,West Bengal,East
1,Boondi,"Gram flour, ghee, sugar",vegetarian,80,30,sweet,dessert,Rajasthan,West
2,Gajar ka halwa,"Carrots, milk, sugar, ghee, cashews, raisins",vegetarian,15,60,sweet,dessert,Punjab,North
3,Ghevar,"Flour, ghee, kewra, milk, clarified butter, su...",vegetarian,15,30,sweet,dessert,Rajasthan,West
4,Gulab jamun,"Milk powder, plain flour, baking powder, ghee,...",vegetarian,15,40,sweet,dessert,West Bengal,East

In [15]:
# displays last 5 rows
df.tail(5)

,name,ingredients,diet,prep_time,cook_time,flavor_profile,course,state,region
250,Til Pitha,"Glutinous rice, black sesame seeds, gur",vegetarian,5,30,sweet,dessert,Assam,North East
251,Bebinca,"Coconut milk, egg yolks, clarified butter, all...",vegetarian,20,60,sweet,dessert,Goa,West
252,Shufta,"Cottage cheese, dry dates, dried rose petals, ...",vegetarian,-1,-1,sweet,dessert,Jammu & Kashmir,North
253,Mawa Bati,"Milk powder, dry fruits, arrowroot powder, all...",vegetarian,20,45,sweet,dessert,Madhya Pradesh,Central
254,Pinaca,"Brown rice, fennel seeds, grated coconut, blac...",vegetarian,-1,-1,sweet,dessert,Goa,West

In [16]:
#total no of rows and columns
df.shape

(255, 9)

In [17]:
# displays datatype of each column, gives object as a datatype when characters and number both exist
df.dtypes

name              object
ingredients       object
diet              object
prep_time          int64
cook_time          int64
flavor_profile    object
course            object
state             object
region            object
dtype: object

In [31]:
df['name'].count()

255

In [27]:
df.describe()   # gives 5-point data analysis for numeric colums(i.e columns)

        prep_time   cook_time
count  255.000000  255.000000
mean    31.105882   34.529412
std     72.554409   48.265650
min     -1.000000   -1.000000
25%     10.000000   20.000000
50%     10.000000   30.000000
75%     20.000000   40.000000
max    500.000000  720.000000

In [30]:
df['prep_time'].max()

500

In [32]:
# vii.	How many numeric features and categorical features are there in the dataset?
df.dtypes
#now count manually

name              object
ingredients       object
diet              object
prep_time          int64
cook_time          int64
flavor_profile    object
course            object
state             object
region            object
dtype: object

In [38]:
# if u wanna automate this though, then
df.columns

# this will

Index(['name', 'ingredients', 'diet', 'prep_time', 'cook_time',
       'flavor_profile', 'course', 'state', 'region', 'Total_Time'],
      dtype='object')

In [35]:
# ix.	Add a new column in the dataset to calculate the total time taken to make every dish.
# we know Total time= prep_time + cook_time

df['Total_Time']=df['prep_time']+df['cook_time']

In [36]:
df.head()

,name,ingredients,diet,prep_time,cook_time,flavor_profile,course,state,region,Total_Time
0,Balu shahi,"Maida flour, yogurt, oil, sugar",vegetarian,45,25,sweet,dessert,West Bengal,East,70
1,Boondi,"Gram flour, ghee, sugar",vegetarian,80,30,sweet,dessert,Rajasthan,West,110
2,Gajar ka halwa,"Carrots, milk, sugar, ghee, cashews, raisins",vegetarian,15,60,sweet,dessert,Punjab,North,75
3,Ghevar,"Flour, ghee, kewra, milk, clarified butter, su...",vegetarian,15,30,sweet,dessert,Rajasthan,West,45
4,Gulab jamun,"Milk powder, plain flour, baking powder, ghee,...",vegetarian,15,40,sweet,dessert,West Bengal,East,55

In [39]:
# Returns answer to the question "do null values exist?"
df.isnull()

,name,ingredients,diet,prep_time,cook_time,flavor_profile,course,state,region,Total_Time
0,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
250,False,False,False,False,False,False,False,False,False,False
251,False,False,False,False,False,False,False,False,False,False
252,False,False,False,False,False,False,False,False,False,False
253,False,False,False,False,False,False,False,False,False,False
254,False,False,False,False,False,False,False,False,False,False

In [43]:
# shows which column is having how many null values
df.isnull().sum()

# wherever there is null values, it replaces that with 'NaN'
df['region'].fillna("NaN")

0            East
1            West
2           North
3            West
4            East
          ...
250    North East
251          West
252         North
253       Central
254          West
Name: region, Length: 255, dtype: object

In [45]:
# checking
df.isnull().sum()

name              0
ingredients       0
diet              0
prep_time         0
cook_time         0
flavor_profile    0
course            0
state             0
region            1
Total_Time        0
dtype: int64

As we can see this does not work, as we still have 1 null value in field named 'region'

This is because the following command does not make changes to the original dataframe (named 'df' in this case)

df['region'].fillna("NaN")



Inorder to make changes to the current dataframe(i.e dataframe named 'df' in this case) use the following command

df['region'].fillna("NaN", inplace= True) 


Another approach could pe to create a new dataframe named 'df2' and make changes there, rthis can be done via the following command:
df2 = df['region'].fillna("NaN")

If you wanna copy only some particular column(say 'name'), use the following command (in below code segment):

In [48]:

df2=df['name']

In [49]:
# checking
df2.head()

0        Balu shahi
1            Boondi
2    Gajar ka halwa
3            Ghevar
4       Gulab jamun
Name: name, dtype: object

as you can see above, only the name column is stored in 'df2' al;ong with the indices(which come by default)

In [ ]:
df2=df['name']